<% content_for :header do %>
<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Produtos da Docarela
      </h1>
    </div>
  </div>
</section>
<% end %>

<div class="produto-index-grid pt4">
  <% @produtos.each do |produto| %>

    <div class="produto border-light">
      <div class="produto-thumb">


         <%= link_to image_tag(produto.image_url(:thumb)), produto %>
   



      <% if produto.Quantidade? %>
        <div class="Quantidade">
          <span class="tag is-dark">Quantidade: <%=produto.Quantidade %></span>
        </div>
      <% end %>


      </div>


    <div class="pa3">

      <h3 class="fw7 f4 Nome"><%= link_to produto.Nome, produto %></h3>
      <p class="has-text-gray fg pt1">Vendido por <%= produto.user.name %></p>

      <p class="f3 fw6 has-text-right pt2 Preço"><%= number_to_currency(produto.Preço) %></p>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
           <%= link_to 'Editar', edit_produto_path(produto), class: "button is-small" %>
           <%= link_to 'Deletar', produto, method: :delete, data: { confirm: "Você tem certeza ?" }, class: "button is-small" %>
        <% end %>
       <% end %>

    </div>
  </div>
  <% end %>
</div>